body {
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    color: #000a12;
}


.app-header {
    text-align: center;
    font-weight: 100;
    font-size: 50px;
}


.input-field {
    background-color: #F5F5F5;
    height: 23px;
    width: calc(100% - 35px);
    border: 1px #BDBDBD;
    border-style: none none solid none;
    font-family: 'Roboto', sans-serif;

}


.remove-item {
    padding-left: 6px;
    font-size: large;
    color: transparent;
}


.submit-button {
    border: none;
    background-color: #FF5252;
    color: white;
    height: 35px;
    width: 35px;
    text-align: center;
    font-size: x-large;
    border-radius: 50%;
}


.submit-button:focus, .input-field:focus {
    outline: none;
}


.todo-app {
    margin: 100px auto;
    max-width: 400px;
}


.todo-form {
    width: 100%;
}


.todo-item {
    padding: 4px 0;
}


.todo-item:hover .remove-item {
    color: #FF5252;
}


.todo-list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
}
